# Ignore environment variables and secret keys
.env

# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore virtual environments
venv/
ENV/
env/
.venv/

# Ignore database files
*.sqlite3

# Ignore media files
media/

# Ignore static files
staticfiles/
static/

# Ignore Django migration files
*/migrations/*

# Ignore VSCode files
.vscode/

# Ignore Python virtual environment settings file
pyvenv.cfg

# Ignore Django secret keys and sensitive information
**/secrets.json

# Ignore coverage reports
htmlcov/
.coverage
*.cover
.hypothesis/
.pytest_cache/

# Ignore IDE and editor specific files
.idea/
*.swp
*~

# Ignore log files
*.log

# Ignore compiled code
*.pyo
*.so
*.dll

# Ignore Node modules (if you have Node.js dependencies)
node_modules/

# Ignore admin JavaScript files (if minified or bundled)
*.min.js
