{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


    <link rel="stylesheet" href="../static/css/pagina_catalogo.css">
    <link rel="stylesheet" href="../static/css/rodape_pagina.css">
    <script src="../static/js/demais_pagina.js" defer></script>

    <title>Catálogo de Startups</title>
</head>
<body>
    <header id="header">
        <div class="container">
            <div class="flex">
                <a href="" class="logo">
                    <img src="../static/images/logo.png" alt="">
                </a>
            </div>
            <div class="perfil_menu">
                <a href="inbate{% url 'admin:index' %}" class="perfil-link">
                    <button class="perfil-button">Entrar</button>
                </a>
            </div>
        </div>
    </header>

    <div class="content-wrapper">
        <section>
            <div class="container-degrade">   
                <h1>Catálogo de Startups</h1>
            </div>

            <div class="alinhar-filtros">
                <form id="filtros-form" method="GET" action="inbate{% url 'catalogo_startup' %}">
                    <button type="button" id="clear-filters" onclick="clearFilters()">Limpar Filtros</button>

                    <select name="setor" id="setor">
                        <option value="">Selecione um setor</option>
                        {% for setor in setores %}
                            <option value="{{ setor }}" {% if setor == setor_selecionado %}selected{% endif %}>{{ setor }}</option>
                        {% endfor %}
                    </select>

                    <select name="area_negocio" id="area-negocio">
                        <option value="">Selecione uma área de negócio</option>
                        {% for area_negocio in areas_negocio %}
                            <option value="{{ area_negocio }}" {% if area_negocio == area_negocio_selecionada %}selected{% endif %}>{{ area_negocio }}</option>
                        {% endfor %}
                    </select>

                    <div class="search-container">
                        <input type="text" id="search-bar" name="search" placeholder="Pesquisar..." value="{{ search_query }}">
                        <button type="submit" id="search-button"><i class="bi bi-search"></i></button>
                    </div>
                    
                </form>
            </div>

            <div class="flex-card">
                {% block content %}
                    {% if startups %}
                        {% for startup in startups %}
                            <div class="card-startup"> 
                                <a href="/inbate{% url 'perfil_startup' startup.nome %}">
                                    <br>
                                    {% if startup.logo_startup %}
                                        <img src="inbate{{ startup.logo_startup.url }}" alt="{{ startup.nome }}" width="400px" height="400px">
                                    {% else %}
                                        <img src="inbate{% static 'images/semFoto.png' %}" alt="logo" width="190px" height="190px">
                                    {% endif %}
                                    <div class="line" id="line"></div>
                                    <h2>{{ startup.nome }}</h2>
                                    <p>{{ startup.descricao }}</p>
                                </a>
                            </div>
                        {% endfor %}
                        
                    {% else %}
                        <p class="content-wrapper min-height">Nenhuma startup encontrada....</p>
                    {% endif %}
                {% endblock %}
            </div>
        </section>
    </div>

    <footer>
        <div class="rodape">
            <img src="../static/images/ufpi.png" alt="logo">
            <div class="info">
                <div class="botoes">
                    <button onclick="window.location.href='https://www.instagram.com/gaai.ufpi';">
                        <i class="bi bi-instagram"></i> @gaai.ufpi
                    </button>
                    <button onclick="copyEmail()">
                        <i class="bi bi-envelope-fill"></i> gaai@ufpi.edu.br
                    </button>
                </div>
                <p>Endereço: © 2024, Bairro Ininga - Teresina - PI - CEP: 64049-550</p>
                <p>Universidade Federal do Piauí - UFPI Campus Universitário Ministro Petrônio Portella</p>
                <p>Uma ação da Pró-Reitoria de Pesquisa e Inovação PROPESQI/UFPI</p>
            </div>
            <img src="../static/images/gaai-img-bg.png" alt="logo">
        </div>
    </footer>

    <script>
        document.getElementById('setor').addEventListener('change', function() {
            document.getElementById('filtros-form').submit();
        });

        document.getElementById('area-negocio').addEventListener('change', function() {
            document.getElementById('filtros-form').submit();
        });

        function clearFilters() {
            window.location.href = "inbate{% url 'catalogo_startup' %}";
        }
    </script>
</body>
</html>
