{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- FIM DO GOOGLE FONTS-->

    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- FIM BOOTSTRAP ICONS -->

    <!-- LINK DO CSS-->

    <link rel="stylesheet" href="{% static 'css/pagina_home.css' %}">
    <link rel="stylesheet" href="{% static 'css/rodape_pagina.css' %}">

    <!-- FIM LINK DO CSS-->

    <!-- LINK DO JS-->
    <script src="{% static 'js/home_pagina.js' %}" defer></script>
    <!-- FIM LINK DO JS-->

    <title>Inbate</title>
</head>

<body>
    <header>
        <div class="header-conteiner">
            <a href="#" class="logo">
                <img src="{% static "images/logo.png" %}" alt="" width="150px">
            </a>
            <div class="opcoes_menu">
                <a href="#section-1" class="opcoes">Home</a>
                <a href="#section-2" class="opcoes">Informações</a>
                <a href="#section-3" class="opcoes">Sobre</a>
            </div>
        </div>
    </header>

    <div id="section-1" class="animation-area">
        <ul class="box-area">
            <div class="coteiner-banner">
                <div class="texto-banner">
                    <h2>SEJA</h2>
                    <h2>BEM VINDO A</h2>
                    <img src="{% static "images/nome.png" %}" alt="">
                    
                    <div class="coteiner-button">
                        <button class="round-button"> <a href = "catalogo_startup"> COMEÇAR <i class="bi bi-arrow-right"></i></a></button>
                    </div>
                </div>
            </div>

            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <section id="section-2">
        <div class="informacoes">
            <div class="slider">
            {% if noticias|length >= 6 %}
                <div class="slides">
                    <input type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <input type="radio" name="radio-btn" id="radio3">
                    <input type="radio" name="radio-btn" id="radio4">

                    
                        <div class="slide first">
                            <a href="{{ noticias.0.link }}">
                                <img src="{{ noticias.0.imagem.url }}" alt="imagem1">
                                <h5>{{ noticias.0.descricao|slice:":65" }}{% if noticias.0.descricao|length > 65 %}...{% endif %}</h5>
                            </a>
                        </div>
                        <div class="slide">
                            <a href="{{ noticias.1.link }}">
                                <img src="{{ noticias.1.imagem.url }}" alt="imagem2">
                                <h5>{{ noticias.0.descricao|slice:":65" }}{% if noticias.0.descricao|length > 65 %}...{% endif %}</h5>
                            </a>
                        </div>
                        <div class="slide">
                            <a href="{{ noticias.2.link }}">
                                <img src="{{ noticias.2.imagem.url }}" alt="imagem3">
                                <h5>{{ noticias.0.descricao|slice:":65" }}{% if noticias.0.descricao|length > 65 %}...{% endif %}</h5>
                            </a>
                        </div>
                        <div class="slide">
                            <a href="{{ noticias.3.link }}">
                                <img src="{{ noticias.3.imagem.url }}" alt="imagem4">
                                <h5>{{ noticias.0.descricao|slice:":65" }}{% if noticias.0.descricao|length > 65 %}...{% endif %}</h5>
                            </a>
                        </div>

                        <div class="navigation-auto">
                            <div class="auto-btn1"></div>
                            <div class="auto-btn2"></div>
                            <div class="auto-btn3"></div>
                            <div class="auto-btn4"></div>
                        </div>
                    </div>

                    <div class="manul-navigation">
                        <label for="radio1" class="manual-btn"></label>
                        <label for="radio2" class="manual-btn"></label>
                        <label for="radio3" class="manual-btn"></label>
                        <label for="radio4" class="manual-btn"></label>
                    </div>

                </div>
                
                <div class="coteiner-infos">
                    <div class="infos">
                        <a href="{{ noticias.4.link }}">
                            <img src="{{ noticias.4.imagem.url }}" alt="">
                        <h4>{{ noticias.4.descricao|slice:":100" }}{% if noticias.4.descricao|length > 100 %}...{% endif %}</h4>
                        </a>
                        <hr>
                    </div>
                    <div class="infos">
                        <a href="{{ noticias.5.link }}">
                            <img src="{{ noticias.5.imagem.url }}" alt="">
                        <h4>{{ noticias.5.descricao|slice:":100" }}{% if noticias.5.descricao|length > 100 %}...{% endif %}</h4>
                        </a>
                        <hr>
                    </div>
                </div>

            {% else %}
                <p class="no-results">Menos de 5 notícias disponíveis.</p>
            {% endif %}

            <script>
                var cont = 1;
                document.getElementById('radio1').checked = true;

                setInterval(() => {
                    proximaImg();
                }, 5000);

                function proximaImg() {
                    cont++;

                    if (cont > 4) {
                        cont = 1;
                    }

                    document.getElementById('radio' + cont).checked = true;
                }
            </script>
        </div>
        
    </section>
    <!-- SESSION 3 - SOBRE -->
    <section id="section-3" class="imagem-piaui" style="background-image: url('{% static 'images/piaui.jpg' %}');">
        <div class="sobre">
            <h2>Conheça a INBATE</h2>
            <p>A Incubadora de Empresas de Base Tecnológica da Universidade Federal do Piauí (INBATE/UFPI) foi criada com o objetivo de estimular a produção de conhecimento e fomentar novos empreendimentos. A INBATE apoia propostas inovadoras de pesquisadores e estudantes da universidade, visando transformá-las em negócios de sucesso. Em sua primeira chamada de incubação, os projetos receberam um investimento total de R$ 250 mil em bolsas. Isso demonstra o compromisso da incubadora em criar um ambiente propício para o desenvolvimento e crescimento das startups, fornecendo suporte, infraestrutura e recursos necessários para sua incubação e posterior inserção no mercado.</p>
            <p>O site da INBATE é um projeto que serve como um hub central para conectar empreendedores, investidores, acadêmicos e entusiastas em inovação. Desenvolvido com o apoio da GAAI, o site apresenta um catálogo de startups e seus projetos inovadores, facilitando a visualização e o acompanhamento desses projetos. Isso permite que investidores e outros interessados se conectem com as startups incubadas e explorem oportunidades de parceria e investimento.</p>
        </div>
    </section>


    
    <section id="section-4" class="apoio" style="background-image: url('{% static 'images/imagem-apoiooo.jpg' %}');">
    </section>

    <footer>
        <div class="rodape">
            <img src="{% static 'images/ufpi.png' %}" alt="logo">
            <div class="info">
                <div class="botoes">
                    <button onclick="window.location.href='https://www.instagram.com/gaai.ufpi?igsh=c2I0ZWdoMmoyb2s0';">
                        <i class="bi bi-instagram"></i> @gaai.ufpi
                    </button>
                    <button onclick="copyEmail()">
                        <i class="bi bi-envelope-fill"></i> gaai@ufpi.edu.br
                    </button>
                </div>
                <p>Endereço: © 2024, Bairro Ininga - Teresina - PI - CEP: 64049-550</p>
                <p>Universidade Federal do Piauí - UFPI Campus Universitário Ministro Petrônio Portella</p>
                <p>Uma ação da Pró-Reitoria de Pesquisa e Inovação PROPESQI/UFPI</p>
            </div>
            <img src="{% static 'images/gaai-img-bg.png' %}" alt="logo">
        </div>
    </footer>


</body>
</html>