{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="/inbate/static/css/startup.css">
    <link rel="stylesheet" href="/inbate/static/css/rodape_pagina.css">
    <script src="/inbate/static/js/demais_pagina.js" defer></script>
    
    <title>{{ startup.nome }}</title>
</head>
<body>
    <header id="header">
        <div class="container">
            <div class="flex">
                <a href="{% url 'home' %}" class="logo">
                    <img src="/inbate{% static "images/logo.png" %}" alt="" width="150px">
                </a>
            </div>
            <div class="perfil_menu">
                <a href="https://inovaufpi.ufpi.br/inbate/admin/login/?next=/admin/" class="perfil-link">
                    <button class="perfil-button">Entrar</button>
                </a>
            </div>
        </div>
    </header>

    <section id="section-1">
        <div class="container-degrade">   
            <h1>{{ startup.nome }}</h1>
        </div>

        <div class="conteiner-1">
            <div class="logo-startup">
                {% if startup.logo_startup %}
                    <img src="/inbate{{ startup.logo_startup.url }}" alt="{{ startup.nome }}">
                {% else %}
                    <img src="/inbate{% static 'images/semFoto.png' %}" alt="logo" width="190px" height="190px">
                {% endif %}
            </div>
            <div class="info-startup">
                <h1>{{ startup.nome }}</h1>
                <h4>Área de negócio: <span>{{ startup.area_de_negocio }}</span></h4>
                <h4>Setor: <span>{{ startup.setor }}</span></h4>
                <h4>Estado: <span>{{ startup.estado }}</span></h4>
                <h4>Cidade: <span>{{ startup.cidade }}</span></h4>
            </div>
        </div>
        <div class="conteiner-2">
            <p>{{ startup.descricao }}</p>
        </div>
    </section>

   <section id="section-3">
        <h1>Projetos</h1>
        <div class="conteiner-3">
            
            {% for projeto in projetos %}
                <a href="/inbate{% url 'perfil_projeto' startup_nome=projeto.startup.nome projeto_nome=projeto.nome %}">
                    <div class="card">
                        <div class="img-projeto" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url('/inbate{{ projeto.logo_projeto.url }}')">
                            <h2>{{ projeto.nome |slice:":50"}}{%if projeto.nome|length > 50 %}...{% endif %}</h2>
                        </div>
                        <div class="info-projeto">
                            <p>{{ projeto.descricao |slice:":1000" }}{% if projeto.descricao|length > 1000 %}...{% endif %}</p>
                        </div>
                    </div>
                </a>
            {% empty %}
                <p>Não há projetos disponíveis para esta startup.</p>
            {% endfor %}
        </div>
    </section>

    <section id="section-4">
        <div class="conteiner-4">
            <h1>Sócios</h1>
            {% if administrador %}
            <div class="flex-coodernador">
                <div class="card-coodernador">
                    <div class="img-coodernador">
                        <img src="/inbate/{{ administrador.foto.url }}" alt="socios"> 
                    </div>
                    <div class="info-coodernador">
                        <h3>{{ administrador.nome }}</h3>
                        <p><strong>Cargo:</strong> {{ administrador.cargo }}</p>
                        <p><strong>Formação:</strong> {{ administrador.formacao }}</p>
                        <p><strong>Email:</strong> {{ administrador.email }}</p>
                        <a href="{{ administrador.linkedin }}" target="_blank"><i class="bi bi-linkedin"></i> Linkedin</a>
                    </div>
                </div>
            </div>
            {% else %}
                <p>Não há administrador cadastrado para esta startup.</p>
            {% endif %}
    
            <h1>Membros</h1>
            {% if membros %}
            <div class="flex-coodernador">
                {% for membro in membros %}
                <div class="card-coodernador">
                    <div class="img-coodernador">
                        <img src="/inbate/{{ membro.foto.url }}" alt="membros">
                    </div>
                    <div class="info-coodernador">
                        <h3>{{ membro.nome }}</h3>
                        <p><strong>Cargo:</strong> {{ membro.cargo }}</p>
                        <p><strong>Formação:</strong> {{ membro.formacao }}</p>
                        <p><strong>Email:</strong> {{ membro.email }}</p>
                        <a href="{{ membro.linkedin }}" target="_blank"><i class="bi bi-linkedin"></i> Linkedin</a>
                    </div>
                </div>
                {% endfor %}
            </div>

            {% else %}
                <p>Não há membros cadastrados para esta startup.</p>
            {% endif %}
        </div>
       
    </section>


    <section id="section-5">
        <div class="conteiner-5">
            <h1>Contato</h1>
            <h4>{{ startup.rua }}, {{ startup.numero }}</h4>
            <h4>{{ startup.bairro }}</h4>
            <h4>{{ startup.cidade }} {{ startup.estado }}</h4>
            <h4>CEP: {{ startup.cep }}</h4>
            <h4>{{ startup.pais }}</h4>
        </div>
    </section>

    <footer>
        <div class="rodape">
            <img src="/inbate/static/images/ufpi.png" alt="logo">
            <div class="info">
                <div class="botoes">
                    <button onclick="window.location.href='https://www.instagram.com/gaai.ufpi';">
                        <i class="bi bi-instagram"></i> @gaai.ufpi
                    </button>
                    <button onclick="copyEmail()">
                        <i class="bi bi-envelope-fill"></i> gaai@ufpi.edu.br
                    </button>
                </div>
                <p>Endereço: © 2024, Bairro Ininga - Teresina - PI - CEP: 64049-550</p>
                <p>Universidade Federal do Piauí - UFPI Campus Universitário Ministro Petrônio Portella</p>
                <p>Uma ação da Pró-Reitoria de Pesquisa e Inovação PROPESQI/UFPI</p>
            </div>
            <img src="/inbate/static/images/gaai-img-bg.png" alt="logo">
        </div>
    </footer>

</body>
</html>