{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/projetos.css' %}">
    <link rel="stylesheet" href="{% static 'css/rodape_pagina.css' %}">
    <script src="{% static 'js/demais_pagina.js' %}" defer></script>
    <title>{{ projeto.nome }}</title>
</head>

<body>
    <header id="header">
        <div class="container">
            <div class="flex">
                <a href="{% url 'home' %}" class="logo">
                    <img src="{% static 'images/logo.png' %}" alt="" width="150px">
                </a>
            </div>

            <div class="perfil_menu">
                <a href="{% url 'admin:index' %}" class="perfil-link">
                    <button class="perfil-button">Entrar</button>
                </a>
            </div>
        </div>
    </header>

    <section id="section-1">
        <div class="container-degrade">
            <h3>{{ projeto.startup.nome }} • {{ projeto.nome }}</h3>
        </div>
        <div class="foto-inicial" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url('{% if projeto.logo_projeto %}{{ projeto.logo_projeto.url }}{% else %}{% static 'images/semFoto.png' %}{% endif %}')">
            <h3>{{ projeto.nome }}</h3>
        </div>
    </section>

    <section id="section-2" class="section-flex">
        <div class="conteiner-1">
            <div class="equipe">
                <h4>Coordenador</h4>
                {% if projeto.coordenador %}
                <div class="card-coodernador">
                    <div class="img-coodernador">
                        <img src="{% if projeto.coordenador.imagem %}{{ projeto.coordenador.imagem.url }}{% else %}{% static 'images/semFoto.png' %}{% endif %}" alt="">
                    </div>
                    <div class="info-coodernador">
                        <h4>{{ projeto.coordenador.nome }}</h4>
                        <p>{{ projeto.coordenador.cargo }}</p>
                        <p>{{ projeto.coordenador.formacao }}</p>
                        <p>{{ projeto.coordenador.email }}</p>
                        <a href="{{ projeto.coordenador.linkedin }}" target="_blank"><i class="bi bi-linkedin"></i> Linkedin</a>
                    </div>
                </div>
                {% else %}
                <p>Coordenador não definido.</p>
                {% endif %}

                <h4>Membros</h4>
                {% if membros %}
                    {% for membro_projeto in membros %}
                        <div class="card-membro">
                            <div class="img-membro">
                                <img src="{% if membro_projeto.membro.imagem %}{{ membro_projeto.membro.imagem.url }}{% else %}{% static 'images/semFoto.png' %}{% endif %}" alt="">
                            </div>
                            <div class="info-membro">
                                <h4>{{ membro_projeto.membro.nome }}</h4>
                                <p>{{ membro_projeto.membro.cargo }}</p>
                                <p>{{ membro_projeto.membro.formacao }}</p>
                                <p>{{ membro_projeto.membro.email }}</p>
                                <a href="{{ membro_projeto.membro.linkedin }}" target="_blank"><i class="bi bi-linkedin"></i> Linkedin</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Não há membros definidos.</p>
                {% endif %}
                

            </div>
        </div>

        <div class="conteiner-2">
            <p class="descricao">{{ projeto.descricao }}</p>
            <div class="carrossel">
                <div class="fotos">
                    {% if projeto.foto1 %}
                    <div class="foto">
                        <img src="{{ projeto.foto1.url }}" alt="foto do projeto" >
                    </div>
                    {% endif %}
                    {% if projeto.foto2 %}
                    <div class="foto">
                        <img src="{{ projeto.foto2.url }}" alt="foto do projeto">
                    </div>
                    {% endif %}
                    {% if projeto.foto3 %}
                    <div class="foto">
                        <img src="{{ projeto.foto3.url }}" alt="foto do projeto" >
                    </div>
                    {% endif %}
                    {% if projeto.foto4 %}
                    <div class="foto">
                        <img src="{{ projeto.foto4.url }}" alt="foto do projeto" >
                    </div>
                    {% endif %}
                    {% if projeto.foto5 %}
                    <div class="foto">
                        <img src="{{ projeto.foto5.url }}" alt="foto do projeto" width=>
                    </div>
                    {% endif %}
                </div>
                <button class="seta seta-esquerda" onclick="moverCarrossel(-1)">&#10094;</button>
                <button class="seta seta-direita" onclick="moverCarrossel(1)">&#10095;</button>
            </div>
            {% if projeto.link_video %}
            <div class="video-youtube">
                <iframe id="youtube-video" width="800" height="400" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        var url = "{{ projeto.link_video }}";
                        console.log("URL do vídeo:", url); // Adicione isso para depuração
                        if (url) {
                            var videoIdMatch = url.match(/(?:youtube\.com\/(?:[^\/\n\s]+\/\S+\/|v=|embed\/|v\/)|youtu\.be\/|youtube\.com\/(?:v|e(?:mbed)?)\/|user\/[^\/\n\s]+\/playlist\/\S+\/|playlist\?list=)([a-zA-Z0-9_-]{11})/);
                            if (videoIdMatch) {
                                var videoId = videoIdMatch[1];
                                var iframe = document.getElementById('youtube-video');
                                iframe.src = "https://www.youtube.com/embed/" + videoId;
                            } else {
                                console.error("ID do vídeo não encontrado na URL.");
                            }
                        } else {
                            console.error("URL do vídeo não disponível.");
                        }
                    });

                </script>
               
            {% else %}
            <p>Vídeo não disponível.</p>
            {% endif %}
        </div>
    </section>

    <footer>
        <div class="rodape">
            <img src="{% static 'images/ufpi.png' %}" alt="logo">
            <div class="info">
                <div class="botoes">
                    <button onclick="window.location.href='https://www.instagram.com/gaai.ufpi';">
                        <i class="bi bi-instagram"></i> @gaai.ufpi
                    </button>
                    <button onclick="copyEmail()">
                        <i class="bi bi-envelope-fill"></i> gaai@ufpi.edu.br
                    </button>
                </div>
                <p>Endereço: © 2024, Bairro Ininga - Teresina - PI - CEP: 64049-550</p>
                <p>Universidade Federal do Piauí - UFPI Campus Universitário Ministro Petrônio Portella</p>
                <p>Uma ação da Pró-Reitoria de Pesquisa e Inovação PROPESQI/UFPI</p>
            </div>
            <img src="{% static 'images/gaai-img-bg.png' %}" alt="logo">
        </div>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const carrossel = document.querySelector('.fotos');
            const fotos = document.querySelectorAll('.foto');
            const totalFotos = fotos.length;
            const larguraFoto = 1000; // Largura de cada foto (ajuste conforme necessário)
            let contador = 0;

            if (totalFotos > 0) {
                // Ajusta a largura total do contêiner de fotos
                carrossel.style.width = `${larguraFoto * totalFotos}px`;

                function avancarCarrossel() {
                    contador = (contador + 1) % totalFotos;
                    carrossel.style.transform = `translateX(-${contador * larguraFoto}px)`;
                }

                function retrocederCarrossel() {
                    contador = (contador - 1 + totalFotos) % totalFotos;
                    carrossel.style.transform = `translateX(-${contador * larguraFoto}px)`;
                }

                function moverCarrossel(direcao) {
                    if (direcao === 1) {
                        avancarCarrossel();
                    } else if (direcao === -1) {
                        retrocederCarrossel();
                    }
                }

                // Configura o intervalo para avançar automaticamente
                setInterval(avancarCarrossel, 10000); // Troca a cada 4 segundos

                // Adiciona a função ao onclick das setas
                window.moverCarrossel = moverCarrossel;
            }
        });

    </script>
</body>
</html>