{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/projetos_perfil.css' %}">
    <link rel="stylesheet" href="{% static 'css/rodape_pagina.css' %}">
    <script src="{% static 'js/demais_pagina.js' %}" defer></script>
    <title>{{ projeto.nome }}</title>
</head>


<body>
    <header id="header">
        <div class="container">
            <div class="flex">
                <a href="{% url 'home' %}" class="logo">
                    <img src="{% static "images/logo.png" %}" alt="" width="150px">
                </a>
            </div>
            
            <div class="perfil_menu">
                <a href="{% url 'admin:index' %}" class="perfil-link">
                    <button class="perfil-button">Entrar</button>
                </a>
            </div>
        </div>
    </header>

    <section id="section-1">
        <div class="container-degrade">
            <h3>{{ projeto.startup.nome }} > {{ projeto.nome }}</h3>
        </div>
        <div class="foto-inicial" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url('{% if projeto.logo_projeto %}{{ projeto.logo_projeto.url }}{% else %}{% static 'images/semFoto.png' %}{% endif %}')">
            <h3>{{ projeto.nome }}</h3>
        </div>
    </section>
    
    <section id="section-2" class="section-flex">
        <div class="conteiner-1">
            <div class="equipe">
                <h4>Coordenador</h4>
                {% if projeto.coordenador %}
                <div class="card-coodernador">
                    <div class="img-coodernador">
                        <img src="{% if projeto.coordenador.imagem %}{{ projeto.coordenador.imagem.url }}{% else %}{% static 'images/semFoto.png' %}{% endif %}" alt="">
                    </div>
                    <div class="info-coodernador">
                        <h4>{{ projeto.coordenador.nome }}</h4>
                        <p>{{ projeto.coordenador.cargo }}</p>
                        <p>{{ projeto.coordenador.formacao }}</p>
                        <p>{{ projeto.coordenador.email }}</p>
                        <a href="{{ projeto.coordenador.linkedin }}"><i class="bi bi-linkedin"></i> Linkedin</a>
                    </div>
                </div>
                {% else %}
                <p>Coordenador não definido.</p>
                {% endif %}
                
                <h4>Membros</h4>
                {% if projeto.membros.all %}
                {% for membro in projeto.membros.all %}
                <div class="card-membro">
                    <div class="img-membro">
                        <img src="{% if membro.imagem %}{{ membro.imagem.url }}{% else %}{% static 'images/semFoto.png' %}{% endif %}" alt="">
                    </div>
                    <div class="info-membro">
                        <h4>{{ membro.nome }}</h4>
                        <p>{{ membro.cargo }}</p>
                        <p>{{ membro.formacao }}</p>
                        <p>{{ membro.email }}</p>
                        <a href="{{ membro.linkedin }}"><i class="bi bi-linkedin"></i> Linkedin</a>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p>Não há membros definidos.</p>
                {% endif %}
            </div>
        </div>
    
        <div class="conteiner-2">
            <p>{{ projeto.descricao }}</p>
            <div class="carrossel">
                <div class="fotos">
                    {% if projeto.imagens.all %}
                    {% for imagem in projeto.imagens.all %}
                    <div class="foto">
                        <img src="{{ imagem.url }}" alt="foto do projeto" width="1000px" height="200px">
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="foto">
                        <img src="{% static 'images/semFoto.png' %}" alt="logo" width="1000px" height="200px">
                    </div>
                    {% endif %}
                </div>
                <button class="seta seta-esquerda" onclick="moverCarrossel(-1)">&#10094;</button>
                <button class="seta seta-direita" onclick="moverCarrossel(1)">&#10095;</button>
            </div>
        
            {% if projeto.link_video %}
            <div class="video-youtube">
                {% with projeto.link_video|slice:':-11' as video_id %}
                <iframe width="800" height="400" src="https://www.youtube.com/embed/{{ video_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                {% endwith %}
            </div>
            {% else %}
            <p>Vídeo não disponível.</p>
            {% endif %}
        </div>

    </section>
    
    <footer>
        <div class="rodape">
            <img src="{% static 'images/ufpi.png' %}" alt="logo">
            <div class="info">
                <div class="botoes">
                    <button onclick="window.location.href='https://www.instagram.com/gaai.ufpi';">
                        <i class="bi bi-instagram"></i> @gaai.ufpi
                    </button>
                    <button onclick="copyEmail()">
                        <i class="bi bi-envelope-fill"></i> gaai@ufpi.edu.br
                    </button>
                </div>
                <p>Endereço: © 2024, Bairro Ininga - Teresina - PI - CEP: 64049-550</p>
                <p>Universidade Federal do Piauí - UFPI Campus Universitário Ministro Petrônio Portella</p>
                <p>Uma ação da Pró-Reitoria de Pesquisa e Inovação PROPESQI/UFPI</p>
            </div>
            <img src="{% static 'images/gaai-img-bg.png' %}" alt="logo">
        </div>
    </footer>

    <script>
        let index = 0;

        function moverCarrossel(direcao) {
            const fotos = document.querySelector('.fotos');
            const totalFotos = document.querySelectorAll('.foto').length;
            index = (index + direcao + totalFotos) % totalFotos;
            fotos.style.transform = `translateX(${-index * 100}%)`;
        }
    </script>
</body>
</html>
