body {
    background: linear-gradient(135deg, #3498db, #f1c40f); /* degrade azul para amarelo */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container do formulário */
.login-box {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    text-align: center;
     width: 500px;
}


.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.login-logo img {
    width: 100px;   
    height: auto;   
}

/*  texto abaixo da logo */
.login-logo::after {
    content: "Login Administrativo";
    display: block;
    font-size: 32px;
    font-weight: bold;
    color: black;
    margin-top: 10px;      
    font-family: 'Arial', sans-serif;
}

.login-logo-text {
    font-weight: bold;
    font-size: 24px;
    color: #333;
    margin-top: 10px;
}

.welcome-wrapper {
    display: none;
}

.login-card, .card, .card-body {
    background: transparent !important;  
    box-shadow: none !important;         
    border: none !important;             
    padding: 0 !important;               
}

.input-group-text, .login-box i {
    display: none;
}

#id_username, #id_password {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: none;
}

/* Texto “Login Administrativo” */
.welcome-sign  {
    font-size: 32px;
    font-weight: bold;
    color: #007bff;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    display: none;
}

/* Aplica estilo ao texto dentro do container de login */
#content-main p {
    font-size: 32px !important;
    font-weight: bold !important;
    color: #007bff !important;
    text-align: center !important;
    margin-bottom: 20px !important;
    text-transform: uppercase !important;
}

/* Botão de login no Jazzmin */
.login-box input.btn, 
.login-box button.btn, 
.login-box .btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #007bff !important; 
    color: white !important;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Hover do botão */
.login-box input.btn:hover, 
.login-box button.btn:hover, 
.login-box .btn-primary:hover {
    background-color: #1a65b5 !important; 
    color: white !important; 
}